extends /partials/layout

block content
  h1 Login
    form(method="post", action="login")
      pre.form-errors #{warning}
      label
        span email:
        input(type="email", name="email", maxlength="20" required)
      label
        span password:
        input(type="password", name="password" required)
      input(type="submit" value="Login") 
  a(href="/signup") Signup
