extends /partials/layout

block content
  
  div.leftColumn
    img(src="/blank-profile-picture.png")
    if user.name
      p #{user.name}
    else
      p Name:
      
    if user.date_joined
      p Member since #{user.date_joined}
    else
      p Date Joined:
      
    if user.city
      p #{user.city}
    else
      p Current City:
      
    a(href="/users/edit")
      button(type="button") Edit Profile
      
  div.rightColumn
    each post in posts
      p
        a(href="/posts/:id") #{post.title}
  
